body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.logo img {
  height: 45px;
}
.menu{
    padding-bottom: 10px 10px;
}

/* Navigation Bar Section */
.name {
  position: fixed;
  left: 0;
  margin: 15px;
  padding: 30px;
  font-weight: 500;
  color: gold;
}

.navbar {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position:unset;
  right: 0;
  padding: 0 0 4.5rem;
  margin: 15px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}


.model img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.model {
  width: 500px;
  height: 500px;
}
.content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-text {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 500px;
}
.main-text h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style:oblique ;
  font-size: 3.5rem;
  color: gold;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}
.main-text p {
 
  color:gold;
}

#brief {
  font-size: 20px;
  padding: 20px 20px 20px 0 ;
}

.bx{
  font-size: 25px;
  margin: 20px 20px 0 0;
}

.bxl-github {
  color: white;
}

.portfolio-btn {
  width: 190px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: gold;
  background-color: #23cdaf;
  border-radius: 30px;
  box-shadow: 4px 10px 30px rgba(24, 139, 119, 0.2);
}
.portfolio-btn:hover {
  background-color: black;
  transition: all ease 0.2s;
}

#skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto auto 50px auto;
}
.skill-text {
  width: 400px;
  
}
.s-box-text{
  text-align: left;
}
.skill-img {
  width: 600px;
  height: 600px;
}
.skill-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skill-heading span {
  color: gold;
  font-weight: 500px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}
.skill-heading h2 {
  color:beige ;
  font-size: 3.3rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}
.s-box-container {
  margin-top: 30px;
}
.skill-box {
  display: flex;
  margin: 25px 0px;
}
.s-box-icon {
  margin-right: 12px;
}
.s-box-icon i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 1.1rem;
}
.skill-text strong {
  color: gold;
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 600;
}
.s-box-text p {
  color: gold;
  font-size: 00.9rem;
}
#about{
  color:gold;
}
.about-text p {
  display: flex;
  text-align: center;
  justify-content: center;
}
/* Contact */

.response {
  padding-top: 30%;
}

.contact {
  text-align: left;
  padding: 2.3rem;
}

.sm-icon {
  margin: 8px;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  color: white;
}

footer {
  text-align: center;
  border-top: 1px solid gold;
  background-color: black;
  padding: 20px 20px;
}
footer p {
  margin: 10px 0px;
  color: gold;
  font-size: 0.9rem;
}
@media (max-width: 1140px) {
  .content {
    width: 100%;
  }
  .model {
    height: 400px;
    width: 400px;
  }
  .main-text,
  .model {
    margin: 10px;
  }
  .main-text h1 {
    flex-grow: 0.5;
  }
  .skill-img {
    width: 400px;
    height: 400px;
  }
}

.fab {
  background-color: white;
}

@media (max-width: 900px) {
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    height: 35px;
  }
  .menu {
    display: none;
  }
  nav.menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
